h2{text-align:center;}
.container{

    height: 200px;
    width: 300px;
    position: relative;
    border: 3px solid greenyellow;
    border-radius: 20px;
    background-color: rgb(223, 231, 229);
    display: flex;

}
.center{
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    vertical-align: middle;
}
.center p{
   font-size: x-large;
}
.center button{
    padding: 12px 15px;
    border-radius: 15px;
    font-size:15px;
    background-color: rgba(90, 82, 82, 0.6);
    text-decoration: none;
    list-style: none;

}
.center button:hover{
    background: rgba(0, 0, 0, 0.7);
    border-radius:60px;
}
.container2{

    height: 200px;
    width: 300px;
    position: relative;
    border: 3px solid greenyellow;
    border-radius: 20px;
    background-color: rgb(223, 231, 229);
    display: flex;
    flex-direction: row;
    float: right;

}
.center button{
    text-decoration: none;
}